.root {
    -fx-background-color: #111111;
}

.label {
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: "white";
}

#titleText {
    -fx-font-size: 60;
}